.heroBiograph {
  padding: 3rem 0 1.5rem;

  .left {
    h2 {
        display: inline-block;
        border-bottom: 1px solid #000;
        letter-spacing: 1px;
      }
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .right {
    border: 1px solid #e1e1e1;
    height: max-content;
  }
}