.heroBiograph {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  padding: 3rem 0 1.5rem;

  .left {
    padding: 0 4rem 0 0;

    h2 {
      padding-top: 1.5rem;
      border-top: 1px solid;
      letter-spacing: 1px;
    }
  }

  .content {
    padding: 0 4rem;
  }

  .right {
    border: 1px solid #e1e1e1;
    height: max-content;
  }
}