.heroesList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transition: max-height 1s ease-out;
  overflow: hidden;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  min-height: 676px;

  & + .heroesList {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #000;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media screen and (max-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }
}