.heroesList {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15.82%,1fr));
  transition: max-height 1s ease-out;
  overflow: hidden;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-bottom: 1rem;
}