.heroCard {
  position: relative;
  z-index: 0;
  color: #fff;
  max-width: 100%;
  transition: color .3s;
  border-radius: 0 0 15px 0;
  overflow: hidden;

  button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: 0;
    font-size: 30px;
    padding: 5px;
    line-height: 0;
    color: #fff;
  }

  .heroCardHeader {
    position: relative;
    z-index: 0;

    img {
        transition: all .3s ease-in-out;
      }
  
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 5px;
      background: var(--red-50);
      bottom: 0;
      left: 0;
    }
  } 

  .heroCardContent {
    padding: 16px 24px 17px 20px;
    background: #151515;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 110px;
      background: var(--red-50);
      transition: all .3s ease-in-out;
    }
  }

  &:hover {
    figure {
      img {
        transform: scale(1.1);
      }
    }

    .heroCardContent {
      &::before {
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .heroCard {
    span {
      width: 100% !important;
    }
    img {
      object-fit: cover;
    }
  }
}