.heroBanner {
  position: relative;
  z-index: 0;

  img {
    object-fit: cover;
  }

  @media screen and (max-width: 575px) {
    span {
      min-height: 300px;
    }
  }

  .heroBio {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    .heroName {
      font-size: 2.5rem;
      margin: 0 0 1.5rem;

      @media screen and (max-width: 575px) {
        margin: 0 0 0.5rem;
      }
    }

    p {
      max-width: 50%;

      @media screen and (max-width: 575px) {
        max-width: 100%;
      }
    }
  }
}