:root {
  --red-50: #EC1D24;
  --black-50: #202020;
}

html,
body {
  font-family: 'Bebas Neue', cursive, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button {
  font-family: inherit;
  margin: 0;
  padding: 0.5rem;
  border: 0;
}

button {
  cursor: pointer;
  line-height: 1;
}

.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 96px - 51px);
  padding: 1rem 0;
}

.pageTitle {
  margin-bottom: 1rem;
}