.heroGallery {
  padding: 4rem 0;

  h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}